[defaults]
inventory = ./inventory.py
host_key_checking = True
interpreter_python = auto_silent
retry_files_enabled = False
forks = 4

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=yes
retries = 0
